@{
    ViewData["Title"] = "About Me";
}

<div class="container" >
    <div class="row">
        <img class="image-responsive col-12 col-lg-6" src="~/images/AboutMe.jpg" alt="AboutMePic"  />
        <div class="col-12 col-lg-6">
            <h2>@ViewData["Title"]</h2>
            <p>
                Having been made redundant from my account's role due to Covid-19,
                I spent a lot of time re-evaluating my life and what I want to do with the rest of it.
            </p>
            <p>
                Accounts was work for an income, but my passion was in helping out with cat charities
                and making a difference to their lives where possible. So it seemed natural to find something
                that I could do that's called work, but making a difference to the quality of feline life.
                I have owned cats all my life and groomed my own cats for years. Yes, I am that crazy cat lady
                with 8 cats (accidentally on purpose)
            </p>
            <p>
                As soon as allowed, I attended grooming school and also spent time with a fellow cat grooming
                friend in Swindon to gain more experience. This is a skill that I will never feel "Fully
                qualified" as I am learning more every day with each and every feline character I meet. I have
                completed a first aid course and learning about the Trust Technique, Whole energy body balance
                (massage), Animal communication and meditation with animals. This year I have booked to learn
                Reiki as I have seen the benefits of meditation with animals and want to look deeper into helping
                them with anxieties so that I can help them not only physically, but mentally too.
            </p>
        </div>
    </div>
</div>
