@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<body>
    <address>
        <strong>Email:</strong> <a href="mailto:groomingpurrcedures@gmail.com">groomingpurrcedures@gmail.com</a><br />
        <strong>Telephone:</strong> 07802 512677<br />
        <br />
        <a href="https://www.facebook.com/Grooming-Purrcedures-100386248457715" target="_blank"><strong>Facebook Page</strong></a><br />
        <a href="https://www.instagram.com/grooming_purrcedures/" target="_blank"><strong>Instagram</strong></a>
    </address>
</body>
