
@{
    ViewData["Title"] = "Services";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <p>
                <strong>Groom and De-fluff -</strong> Cats normally moult twice a year at the change
                of seasons. Indoor cats may moult all year round. Cats are notoriously good groomers,
                but the excess fur in long and short haired cats can be deposited all over the house,
                furnishings and clothes. It may also cause problems with excess hairballs, gagging and
                little throw ups around the house.<br /><br /> A de-fluff groom & advice on how to keep their
                coat in hand.
            </p>
        </div>
        <div class="col-sm-3">
            <p><strong>£25-£30</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>
                <strong>De-matt -</strong> Unfortunately, with long haired, elderly or cats with health
                issues, self-grooming may not be enough and knots and matts may appear. Matts are
                uncomfortable at best. They can cause your cat pain and restrict movement and in severe
                cases end in death. The sooner they are sorted, the better for them and your pocket.
            </p>
        </div>
        <div class="col-sm-3">
            <p><strong>£30-£45</strong></p>
        </div>
    </div>
</div>
