
@{
    ViewData["Title"] = "Services";
}

<body>
    <h2>@ViewData["Title"]</h2>
    <div class="container">
        <div class="row col-sm-12">
            <img src="~/images/services/General_De-shed.jpg" alt="De-fluff" class="img-responsive col-12 col-md-6 col-lg-4 col-xl-3 service-image" />
            <p class="col-md-6">
                <strong>Groom and De-fluff -</strong> Cats normally moult twice a year at the change
                of seasons. Indoor cats may moult all year round. Cats are notoriously good groomers,
                but the excess fur in long and short haired cats can be deposited all over the house,
                furnishings and clothes. It may also cause problems with excess hairballs, gagging and
                little throw ups around the house.<br /><br /> A de-fluff groom & advice on how to keep their
                coat in hand.
            </p>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <p><strong>£25 - £30</strong></p>
            </div>
        </div>
        <hr />
        <div class="row col-sm-12">
            <img src="~/images/services/De-Matt.png" alt="De-Matt" class="img-responsive col-12 col-md-6 col-lg-4 col-xl-3 service-image" />
            <p class="col-md-6">
                <strong>De-matt -</strong> Unfortunately, with long haired, elderly or cats with health
                issues, self-grooming may not be enough and knots and matts may appear. Matts are
                uncomfortable at best. They can cause your cat pain and restrict movement and in severe
                cases end in death. The sooner they are sorted, the better for them and your pocket.
            </p>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <p><strong>£30 - £45</strong></p>
            </div>
        </div>
        <hr />
        <div class="row col-sm-12">
            <img src="~/images/services/Lion-Trim.jpg" alt="Lion Trim" class="img-responsive col-12 col-md-6 col-lg-4 col-xl-3 service-image" />
            <p class="col-md-6">
                <strong>Lion Trim</strong>
            </p>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <p><strong>£40</strong></p>
            </div>
        </div>
        <hr />
        <div class="row col-sm-12">
            <img src="~/images/services/Teddy-Trim.jpg" alt="Teddy Trim" class="img-responsive col-12 col-md-6 col-lg-4 col-xl-3 service-image" />
            <p class="col-md-6">
                <strong>Teddy Trim</strong>
            </p>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <p><strong>£40</strong></p>
            </div>
        </div>
        <hr />
        <div class="row col-sm-12">
            <img src="~/images/services/Armpits.jpg" alt="Armpits" class="img-responsive col-12 col-md-6 col-lg-4 col-xl-3 service-image" />
            <p class="col-md-6">
                <strong>Armpit/Groin & Sanitary Trim -</strong> Normally included in a de-matt if needed
            </p>
        </div>
        <hr />
        <div class="row col-sm-12">
            <img src="~/images/services/Cat-Bath.png" alt="Cat Bath" class="img-responsive col-12 col-md-6 col-lg-4 col-xl-3 service-image" />
            <p class="col-md-6">
                <strong>Bath and Dry -</strong> On occasion a cat may be smelly and dirty and need a bath.
                If a cat is not used to it, don't expect them to lie back and enjoy as its not natural for them.
                I will be as gentle as possible and get the job done with as little stress as humanly possible.
                It's not actually the getting wet that they don't like, its more the noise of water and the blower.
                Their hearing is their most sensitive sense.
            </p>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <p><strong>£20</strong> (extra on a groom)</p>
            </div>
        </div>
        <hr />
        <div class="row col-sm-12">
            <img src="~/images/services/Dry-Shampoo.jpg" alt="Dry Bath" class="img-responsive col-12 col-md-6 col-lg-4 col-xl-3 service-image" />
            <p class="col-md-6">
                <strong>Dry bath -</strong> A freshen up with a dry shampoo, eyes and ear clean. Can be added to
                a groom.
            </p>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <p><strong>£5</strong></p>
            </div>
        </div>
        <hr />
        <div class="row col-sm-12">
            <img src="~/images/services/Nail-Trim.jpg" alt="Nail Trim" class="img-responsive col-12 col-md-6 col-lg-4 col-xl-3 service-image" />
            <p class="col-md-6">
                <strong>Nail Trimming -</strong> Mainly for indoor, older or less active cats. Apart from damaging
                furniture, long nails can catch and rip, causing pain. When nails get too long, they curve round
                piercing the pay pad causing pain, bleeding and infection.
            </p>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <p><strong>£10</strong></p>
            </div>
        </div>
        <hr />
        <div class="row col-sm-12">
            <img src="~/images/services/Kitten.jpg" alt="Kitten" class="img-responsive col-12 col-md-6 col-lg-4 col-xl-3 service-image" />
            <p class="col-md-6">
                <strong>Kitten Groom -</strong> Up to one year old. Groom over and advice. Getting your kitten used to
                being groomed makes life a lot easier as they get older. Grooming is also a good way to bond with your
                kitten for a stronger, closer relationship.
            </p>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <p><strong>£10</strong></p>
            </div>
        </div>
    </div>
</body>
