<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Grooming Purrcedures</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-minty.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-196960145-1">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-196960145-1');
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a asp-controller="Home" asp-action="Index"><img id="pawprint-logo" src="~/images/PawPrint.svg" /></a>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">GroomingPurrcedures</a>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About Me</a></li>
                    <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Services">Services</a></li>
                    <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    @*<partial name="_CookieConsentPartial" />*@

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p><small>&copy; 2021 - GroomingPurrcedures</small></p>
            <p><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a></p>
        </footer>
    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
